<br><br>
<div class="well" id = "wellb" >
<center>
<h1 >Welcome To UMAI Restaurant Online Reservation System</h1>
</center>
</div>
 <div class="col-lg-12">
</div>
<div class="col-lg-12" id ="img-bg"  >

<center><h3><i>The Best Food Outlet For The Century</i></h3></center><br>
<center><img src="<%= asset_path('bg.jpg') %>" class="img-1" /></center>

</div>

</div>
