<br><br>
<div class="well" style="background-color:#F8C931;color:#027dff;text-shadow: 0 0 2px #fff;">
<center>
<h1 >Welcome To UMAI Restaurant Online Reservation System</h1>
</center>
</div>
 <div class="col-lg-12">
</div>
<div class="col-lg-12"  style="background-color:#fafafa;color:#027dff;text-shadow: 0 0 2px #fff;border-radius:10px;">
<center><h3><i>The Best Food Outlet For The Century</i></h3></center><br>
<img src="<%= asset_path('bg.jpg') %>" style="width:100%;border-radius:10px;"/>
</div>


</div>
